:root {
    --background-blur: blur(6px);
    --logo-drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#page-about {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
}

#page-about-content {
    position: relative;
    align-items: center;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

#page-about .presentation {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 760px;
    align-items: center;
    text-align: center;
}

#page-about .presentation .background-image {
    position: absolute;
    width: 100%;
    height: 808px;
    z-index: -1;
    background-image: url("../../assets/images/about-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: var(--background-blur);
    -webkit-filter: var(--background-blur);
    -moz-filter: var(--background-blur);
    -o-filter: var(--background-blur);
    -ms-filter: var(--background-blur);
    top: -42px;
    overflow: hidden;
}

#page-about .presentation .back-button {
    position: absolute;
    display: block;
    left: 40px;
    top: 31px;
}

#page-about .presentation .logo {
    margin-top: 50px;
    filter: var(--logo-drop-shadow);
    -webkit-filter: var(--logo-drop-shadow);
    -moz-filter: var(--logo-drop-shadow);
    -o-filter: var(--logo-drop-shadow);
    -ms-filter: var(--logo-drop-shadow);
}

#page-about .presentation p {
    width: 355px;
    margin-top: 40px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
}

#page-about .presentation .link {
    color: #ffffff;
    margin-top: 40px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    text-align: center;
    text-decoration-line: underline;
    overflow: hidden;
}

.page-about-dev-menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
    align-items: center;
    text-align: center;
}

.page-about-dev-menu h1 {
    color: var(--color-primary);
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 21px;
    margin: 20px;
    flex-basis: 100%;
}

.page-about-dev-menu-separator {
    top: -5px;
    flex-basis: 100%;
    height: 15px;
    background: var(--color-primary);
}

@media(max-width: 66rem) {
    #page-about,
    #page-about .presentation {
        height: 100vh;
    }
    .page-about-dev-menu {
        display: none;
    }
    #page-about .logo { 
        margin-top: 10px;
    }
}

@media(max-width: 26rem) {
    #page-about .logo {
        margin-bottom: 50px;
        width: 282px;
        height: 282px;
    }
}